.dialogs {
  grid-area: c;
  min-height: 96%;
  display: grid;
  grid-template-columns: 3fr 7fr;

  grid-gap: 10px;
}

.dialogsItem {
  border: 1px solid black;
  padding: 5px;
}

.messages {
  border: 1px solid black;
  padding: 5px;
}
