* {
  padding: 0;
  margin: 0;
}

body {
  font: 16xp/16px Arial;
  color: black;
}

.app {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  overflow: hidden;
  grid-template-areas: 'h h' 's c' 'f f';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 10fr;
  min-height: 100vh;
  /* grid-gap: 10px; */
}

/* header, sidebar, footer, content */
.block {
  border: 1px solid black;
  background-color: gray;
  padding: 10px;
}

/* overal style for component */
.component {
  border: 1px solid Fuchsia;
  padding: 10px;
  margin-bottom: 10px;
}
